
#authenticate{
  width: auto;
  right: 10px;
}

header{
  position:absolute;
}

span{
  position:relative;
}

span#title{
  float:left;
}

span#signupin{
  float:right;
}

.clearboth{
  clear: both;
}

footer{
  height: 20px;
  bottom: 0px;
}
